<!DOCTYPE html>
<script type="text/javascript" th:inline="javascript" >
    const base64 = [[${qrCode}]]
</script><html lang="en">
<head>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Completed</title>
</head>
<body>
<div class="container">
    <div class="row justify-content-center align-items-center h-75">

        <div class="col-lg-8 h-75" id="drop_zone">
            <div class="card h-100">
                <div class="card-body overflow-auto border-dashed m-2">
                    <div id="completed" class="d-none row align-items-center h-100 justify-content-center">
                        <div class="col-sm-4 card-text text-center">
                            <img th:src="${'data:image/jpeg;charset=utf-8;base64,' + qrCode}" alt="">
                        </div>
                        <div id="download-link" class="col-sm-8 card-text text-center">
                            <h1 id="link-expiry"></h1>
                            <br>
                            <button id="copy-link" class="btn btn-secondary btn-lg">Copy Link</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>