<!DOCTYPE HTML>
<script th:inline="javascript" type="text/javascript">
    const host = [[${host}]];
</script>
<html lang="en">
<head>
    <title>Upload</title>
    <link rel="stylesheet" th:href="@{/styles/main.css}"/>
    <script th:src="@{/js/md5.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/sha256.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/upload.js}" type="text/javascript"></script>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" rel="stylesheet">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1" name="viewport">
</head>
<body>
<div class="container">
    <div class="row justify-content-center align-items-center h-75">

        <div class="col-lg-8 h-75" id="drop_zone">
            <div class="card h-100">
                <div class="card-body overflow-auto border-dashed m-2">
                    <div class="row align-items-center h-100 justify-content-center" id="drop-container">
                        <div class="col-lg-6 select-view card-text text-center" id="instructions-column">
                            <p class="lead fs-2 text-center">Drag and drop files <br> or <br></p>
                            <button class="btn btn-outline-secondary btn-lg" id="select-file" type="button">Select from
                                your computer
                            </button>
                        </div>
                        <div class="col-lg-6 d-flex flex-column card-text d-none" id="upload-information">
                            <div class="row">
                                <div class="col">
                                    <ul class="list-group" id="selected-files">
                                    </ul>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <form class="selected-view" id="upload-information-form">
                                        <div class="form-group row align-items-center">
                                            <label class="col-sm-4" for="download-limit">Expires after</label>
                                            <div class="col-sm-4">
                                                <input class="form-control" id="download-limit" placeholder="Unlimited"
                                                       type="number">
                                            </div>
                                            <label class="col-sm-4" for="download-limit">downloads</label>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer conditional-display d-none" id="footer">
                    <div class="d-none row align-items-center" id="submit-element">
                        <button class="btn btn-primary" id="submit">Upload now</button>
                    </div>
                    <div class="progress d-none" id="progress-element">
                        <div aria-valuemax="100" aria-valuemin="0"
                             aria-valuenow="0" class="progress-bar progress-bar-striped progress-bar-animated" id="progress-bar" role="progressbar"
                             style="width: 0"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script crossorigin="anonymous"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>